.red { color: red; }
.blue { color: blue; }
.green { color: green; }
.spacing{ letter-spacing: 2px; word-spacing: 5px; line-height: 20px;
}
.uppercase{ text-transform:uppercase; }
.lowercase{ text-transform:lowercase; }
.capitalize{ text-transform:capitalize; }
.paragraf{
    font-family: "Courier New";
    font-size: 20px;
}
ul{
    list-style-type:circle;
}
li{
    font-family: "Tahoma";
    font-size: 15px;
}
.btn-red{ padding:10px; background: red; color:white;}
.btn-blue{ padding:10px; background: blue; color:white;}
.btn-green{ padding:10px; background: green; color:white;}
.solid{
    border-style: solid; border-width: 4px; border-color:black;
}
.dotted{
    border-style: dotted; border-width: 4px; border-color: black;
}
.double{
    border-style: double; border-width: 4px; border-color: black;
}
.ridge{
    border-style: ridge; border-width: 4px;
}
.inset{
    border-style: inset; border-width: 4px;
}
.outset{
    border-style: outset; border-width: 4px;
}
.round{
    border-radius:20px;
}